# Node & dependencies
node_modules/
.env
.DS_Store
npm-debug.log*

# Fabric & Microfab data
microfab-data/

# Patch Docker (doit être versionné !)
!infra/docker_patches/
!infra/docker_patches/index.cjs.js

# Build & IDE
/dist/
.vscode/
.idea/

# Logs
*.log

# Test & temp
*.tmp
*.bak
